<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.eternalgrandmasterism.mercyos.pinnacle"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:label="MercyOS Pinnacle">
        <activity android:name="android.activity.UniFFIActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
